.conversation-container > .header {
    background-color: #9ebe62;
}

.message > .response {
    background-color: #dcdcdc;
    color: black;
}

.message > .client {
    background-color: #ffdd9b;
    color: black;
}

.launcher {
    background-color: #9ebe62;
}

.launcher > .badge {
    background-color: red;
    color: red;
}

.message > .client > .message-text p {
    word-wrap: break-word;
}

.message > .response > .message-text p {
    word-wrap: break-word;
}

.snippet {
    word-wrap: break-word;
}

.conversation-container .header {
    height: 60px !important;
    padding: 8px !important;
}

.conversation-container .header .title {
    line-height: 0 !important;
}

.widget-container * {
    z-index: 1400000 !important;
}

.widget-container  button {
    cursor: pointer !important;
}