.conversation-container > .header > .title {
    padding: 0px;
    padding-bottom: 10px;
}
.conversation-container > .header {
    background-color: #9ebe62;
    padding: 15px;
}

.message > .response {
    background-color: #dcdcdc;
    color: black;
}

.message > .client {
    background-color: #ffdd9b;
    color: black;
}

.launcher {
    background-color: #9ebe62;
    cursor: pointer;
}

.launcher > .badge {
    background-color: #e04736; /* red */
    color: #e04736; /* red */
    height: 20px;
    width: 20px;
    right: -3px;
    top: -3px;
    display: block; /* TODO: make none when no notifications */
}

.message > .client > .message-text p {
    word-wrap: break-word;
}

.message > .response > .message-text p {
    word-wrap: break-word;
}

.snippet {
    word-wrap: break-word;
}

.conversation-container{
    z-index: 1400;
}